.video_container_list {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: 0;
}

.video_container_grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  width: 100%;
}

@media (max-width: 1024px) {
  .video_container_list,
  .video_container_grid {
    display: block;
    width: 100%;
    margin-top: 0.8em;
    padding: 0;
  }
}
