.video {
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 10px;
}

.info {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 2%;
  width: 100%;
  color: white;
  visibility: hidden;
}

.info:hover {
  visibility: visible;
  transition: 1s, ease-in-out;
}

span {
  display: block;
}
